<form method="post" action="/students">
  
    <label for="first-name">First Name:</label>
    <input type="text" name="first_name" id="first-name"/>

    
    <label for="second-name">Second Name:</label>
    <input type="text" name="second_name" id="second_name"/>

    
    <label for="house-selection">Select a house:</label>
    <select name="house" id="house-selection">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
    </select>

    
    <label for="age_field">Age:</label>
    <input type="number" name="age" id="age_field" />

    <input type="submit" value="Enrol Student">

</form>

